<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>255392969398-pbg9pfjvqthg0fj90pu4d2mf45v2fjll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255392969398-pbg9pfjvqthg0fj90pu4d2mf45v2fjll</string>
	<key>API_KEY</key>
	<string>AIzaSyBBvu0Grx0Py2t4Q3MgUMGF6okkhKJ85bE</string>
	<key>GCM_SENDER_ID</key>
	<string>255392969398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.thingie.vanhck</string>
	<key>PROJECT_ID</key>
	<string>vanhck-afc28</string>
	<key>STORAGE_BUCKET</key>
	<string>vanhck-afc28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:255392969398:ios:10d34f552e2a51a8</string>
	<key>DATABASE_URL</key>
	<string>https://vanhck-afc28.firebaseio.com</string>
</dict>
</plist>